/* 전체 컨테이너 스타일 */
.analyze-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
    margin: 20px; /* 여백 설정 */
}

.image-analysis {
    width: 70px; /* 이미지 너비 */
    height: auto; /* 비율 유지 */
    position: relative; /* 절대 위치 설정 */
    left: -5px; /* 모달의 왼쪽에 위치하도록 조정 */
    top: 10px; /* 세로 중앙으로 맞추기 */
}

.analyze-all {
    background-color: #F6F6F6; /* 배경색 설정 */
    padding-top: 5px;
    padding-left: 20px; /* 내부 여백 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow:
        -2px 0 2px rgba(0, 0, 0, 0.1), /* 왼쪽 그림자 */ 
        2px 4px 10px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 */
    width: 280px;
    min-height: 590px;
    margin-top: -55px;
    margin-left: 35px;
    margin-bottom: 30px;
    left: 55px; /* 왼쪽 간격 조정 */
    overflow-y: auto; /* 세로 방향 스크롤 활성화 */

    /* 말풍선 모양을 위한 추가 스타일 */
    position: relative; /* 위치 속성 추가 */

}

/* 말풍선 꼬리 부분 */
.analyze-all::after {
    content: ''; /* 내용을 비워두어야 함 */
    position: absolute; /* 절대 위치 설정 */
    top: 10px; /* 모달의 세로 중앙에 위치하도록 설정 */
    right: 100%; /* 모달의 왼쪽에 위치 */
    border-width: 15px; /* 삼각형의 크기 증가 */
    border-style: solid; /* 경계선을 설정 */
    border-color: transparent #F6F6F6 transparent transparent; /* 왼쪽을 향하는 말풍선 색상 */         
}

.analyze-message {
    padding-left: -15px; /* 상하좌우 px 여백 */
    padding-right: 15px;
    font-size: 15px; /* 글자 크기 */
}

.hashtag-container {
    display: flex;
    flex-wrap: wrap; /* 줄 바꿈 허용 */
    margin-top: 10px; /* 메시지와 해시태그 사이 간격 */
    margin-bottom: 15px;
}

.hashtag-message{
    padding-left: -10px; /* 상하좌우 px 여백 */
    padding-right: 20px;
    font-size: 14px; /* 글자 크기 */
}

/* 해시태그 스타일 */
.Hashtag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px; /* 둥근 모서리 */
    margin: 5px; /* 해시태그 간격 */
    color: #000; /* 기본 글자색 */
    background-color: #e0e0e0; /* 기본 배경색 */
    cursor: pointer; /* 포인터 커서 */
    transition: background-color 0.3s, color 0.3s; /* 호버 시 색상 변경 효과 */
    
}

.Hashtag.active {
    background-color: #007BFF; /* 선택된 해시태그의 배경색 */
    color: #fff; /* 선택된 해시태그의 글자색 */
}

/* 버튼 컨테이너 스타일 */
.analize-button-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* 모달 오버레이 스타일 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 검정색 */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 모달 내용 스타일 */
.modal-content {
    background-color: #fff; /* 흰색 배경 */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px; /* 모바일에서도 잘 보이도록 반응형 */
}

