.view-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px; /* 버튼과 다른 요소 간 간격 */
    transition: background-color 0.3s;
}

.red-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-bottom: 20px; /* 버튼과 다른 요소 간 간격 */
    transition: background-color 0.3s;
}

.red-button:hover {
    background-color: #f27474 !important; /* 마우스 오버 시 색상 변경 */
}

.view-button:hover {
    background-color: #0056b3; /* 마우스 오버 시 색상 변경 */
}

.container {
    width: auto; /* 컨테이너 너비 설정 */
}

.modal-body {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.modal-content-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header .date_wrapper {
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
}

.header .date_wrapper span {
    font-family: 'S-CoreDream-3Light';
    font-size: 18px;
}

.date {
    font-size: 18px; /* 헤더 글씨 크기 조절 */
}

.weather-emotion {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.weather, .emotion {
    font-size: 16px; /* 헤더 글씨 크기 조절 */
}

.diary-all {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #F6F6F6;
    padding: 30px;
    border-radius: 8px;
    box-shadow: -2px 0 2px rgba(0, 0, 0, 0.1), 2px 4px 10px rgba(0, 0, 0, 0.2);
    width: 275px;
    min-height: 510px;
    height: auto;
    margin-top: 20px;
}

.image-book {
    position: absolute;
    width: 140px; /* 책 이미지 크기 조정 */
    height: auto;
    left: -40px;
    top: -25px;
}

.image-sample {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.analysis-content {
    font-size: 16px;
    word-break: break-all;
    line-height: 1.5;
    color: #333;
}

.hashtags {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.hashtag1, .hashtag2, .hashtag3 {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    color: white;
    letter-spacing: 1px;
    font-size: 14px;
}

.hashtag1 {
    background-color: #FCC3CC;
}

.hashtag2 {
    background-color: #DBBEFC;
}

.hashtag3 {
    background-color: #52ACFF;
}

.feedback-all {
    display: flex;
    background-color: #F6F6F6; /* 배경색 설정 */
    padding: 20px; /* 내부 여백 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow:
        -2px 0 2px rgba(0, 0, 0, 0.1), /* 왼쪽 그림자 */ 
        2px 4px 10px rgba(0, 0, 0, 0.2); /* 약간의 그림자 효과 */
    width: 300px;
    max-width: 100%;
    margin: 20px 0;
    left: 75px;
    position: relative;
}

.feedback-all::after {
    content: ''; /* 내용을 비워두어야 함 */
    position: absolute; /* 절대 위치 설정 */
    top: 20px; /* 모달의 세로 중앙에 위치하도록 설정 */
    right: 100%; /* 모달의 왼쪽에 위치 */
    border-width: 15px; /* 삼각형의 크기 증가 */
    border-style: solid; /* 경계선을 설정 */
    border-color: transparent #F6F6F6 transparent transparent; /* 왼쪽을 향하는 말풍선 색상 */
    
    /* 그림자 효과 추가 */             
}

.image-doctor {
    width: 70px; /* 이미지 너비 */
    height: 70px; /* 비율 유지 */
    margin-right: 20px; /* 이미지와 말풍선 간격 */
    position: relative;
    left: -65px;
    top: -20px;
}

.feedback-message {
    padding-left: -10px; /* 상하좌우 px 여백 */
    padding-right: 15px;
    font-size: 18px; /* 글자 크기 */
    color: black;
    margin: 0;
    flex: 1;
}

.diary-button-container {
    margin-top: 20px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 모달을 최상위로 */
}

.modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 800px;
    max-width: auto;
    max-height: 1000px;
    height: 80%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

.modal-content:active {
    cursor: grabbing; /* 드래그 중 커서 모양 변경 */
}