.Hashtag {
    display: inline-block;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px; /* 둥근 모서리 */
    margin: 5px; /* 해시태그 간격 */
    color: #000; /* 기본 글자색 */
    background-color: #e0e0e0; /* 기본 배경색 */
    cursor: pointer; /* 포인터 커서 */
    transition: background-color 0.3s, color 0.3s; /* 호버 시 색상 변경 효과 */
}

.Hashtag.active {
    background-color: #007BFF; /* 선택된 해시태그의 배경색 */
    color: #fff; /* 선택된 해시태그의 글자색 */
}