.LoginLogo {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding: 30px;
    padding-bottom: 20px;
    gap: 20px;
}

.LoginLogo img {
    width: 100%;
}

.LoginLogo .logo_text {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}